name: Build and Release GeMMonitor

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup CMake
      uses: lukka/get-cmake@latest
      with:
        cmakeVersion: 3.31.0

    - name: Get Version from CMake
      id: cmake_version
      run: |
        VERSION=$(grep -oP 'project\(.*VERSION \K[0-9.]+' CMakeLists.txt)
        echo "VERSION=$VERSION" >> $GITHUB_ENV

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.6.0'
        arch: 'gcc_64'

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libxkbcommon-dev libegl1-mesa-dev build-essential file

    - name: Configure CMake
      run: |
        cmake -S . -B build \
          -DCMAKE_PREFIX_PATH=${{ env.Qt6_DIR }} \
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Package
      run: |
        cd build
        cpack -C Release

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/*.deb
          build/*.tar.xz
        tag_name: v${{ env.VERSION }}
        name: Release v${{ env.VERSION }}
        draft: false
        prerelease: false
        make_latest: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
