name: Build and Release GeMMonitor

on:
  push:
    tags:
      - 'v*' # 当推送到以 v 开头的标签（如 v0.1.0）时触发

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup CMake
      uses: lukka/get-cmake@latest
      with:
        cmakeVersion: 3.31.0

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        version: '6.6.0'
        arch: 'gcc_64'

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgl1-mesa-dev libxkbcommon-dev libegl1-mesa-dev build-essential file

    - name: Configure CMake
      run: |
        cmake -S . -B build \
          -DCMAKE_PREFIX_PATH=${{ env.Qt6_DIR }} \
          -DCMAKE_BUILD_TYPE=Release

    - name: Build
      run: cmake --build build --config Release

    - name: Package
      run: |
        cd build
        cpack -C Release

    - name: Create Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          build/*.deb
          build/*.tar.xz
        # 自动提取标签名作为 Release 名称
        name: Release ${{ github.ref_name }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
